{% extends "base.html" %}

{% block title %}
  <div class="col-xs-10">
    <h2>Blog entries</h2>
  </div>
  <div class="col-sm-2" style="margin-top: 30px">
    <a href="{% if request.path == '/archive' %}{{ url_for('archive') }}{% else %}{{ url_for('show_posts') }}{% endif %}?order_by_date={% if request.args.get('order_by_date') == '0' %}1{% else %}0{% endif %}">Sort by date {% if request.args.get('order_by_date') == '0' %}&darr;{% else %}&uarr;{% endif %}</a>    
  </div>

{% endblock title %}

{% block content %}
  {% for post in posts %}
    <h3><a href="{{ url_for('view_post', id=post.id) }}">{{ post.title }}</a></h3>
    <p>Created {{ post.created.strftime('%d/%m/%Y at %H:%M') }}</p>
    {{ post.preview }}
    <br>
    <br>

    <div>
      <a class="btn btn-default" href="{{ url_for('view_post', id=post.id) }}" role="button">Read more &rarr;</a>
    </div>
    
  {% endfor %}
{% endblock content %}